@using MaxBox.MVC.Infrastructure
@using MaxBox.MVC.Models
@if (TempData.GetAlerts().Any())
{
    <div class="container alert-container">
        @foreach (Alert alert in TempData.GetAlerts())
        {
            <div class="alert @alert.AlertClass alert-dismissable">
                <button type="button" class="close" data-dimiss="alert" aria-hidden="True">&times;</button>
                @alert.Message
            </div>
        }
    </div>
}