@using System.Linq
@using System.Web.Mvc.Html
@using MaxBox.MVC.Models
@{
    var pageProcessData = (PageProcessData)ViewBag.PageData;
    int rowwidth = 12 / pageProcessData.Filters.Count();
}
@if (pageProcessData != null)
{
    if (pageProcessData.Filters.Any())
    {
        <form method="GET" class="well">
            <div class="row">
                @foreach (var filter in pageProcessData.Filters)
                {
                    <div class="col-md-@rowwidth">
                        <label>@filter.Label</label>
                        @Html.Partial("_Filter", (object)filter.Label)
                    </div>
                }
            </div>
        </form>
    }
}