<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="SMTPServer" value="smtp.gmail.com" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPEmail" value="aventotestuser@gmail.com" />
		<add key="SMTPPassword" value="Pinot246" />
		<add key="SMTPUseSSL" value="true" />
	</appSettings>
</configuration>